# 01. Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [3]:
# Import ords_prods_merge data
df = pd.read_pickle(r'C:\Users\Brooke\05-2022 Instacart Basket Analysis\Data\Prepared Data\ords_prods_merge.pkl')

In [4]:
df.head()

,user_id,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,has_prior_orders,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,2539329,1,2,8,NaN,False,196,1,0,...,Soda,77.0,7.0,9.0,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer
1,1,2539329,1,2,8,NaN,False,14084,2,0,...,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer
2,1,2539329,1,2,8,NaN,False,12427,3,0,...,Original Beef Jerky,23.0,19.0,4.4,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer
3,1,2539329,1,2,8,NaN,False,26088,4,0,...,Aged White Cheddar Popcorn,23.0,19.0,4.7,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer
4,1,2539329,1,2,8,NaN,False,26405,5,0,...,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer

In [5]:
df.shape

(32435059, 21)

# 03. Creating Groups

In [6]:
# calculate aggregated mean of order_number grouped by department_id
df.groupby('department_id')['order_number'].mean()

department_id
1.0     15.457838
2.0     17.277920
3.0     17.170395
4.0     17.811403
5.0     15.215751
6.0     16.439806
7.0     17.225802
8.0     15.340650
9.0     15.895474
10.0    20.197148
11.0    16.170638
12.0    15.887671
13.0    16.583536
14.0    16.773669
15.0    16.165037
16.0    17.665606
17.0    15.694469
18.0    19.310397
19.0    17.177343
20.0    16.473447
21.0    22.902379
Name: order_number, dtype: float64

# the means of the entire dataframe are close to, but not the exact same as those in the subset, which makes sense because there are a lot more numbers being calculated into the mean of the entire dataframe.

# loyalty flag was created in previous exercise and can be seen in the dataframe head function above

In [7]:
#compare basic statistics of different types of customers
df.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [8]:
#calculating average prices for each user
df.groupby('user_id').agg({'prices': ['mean']})

           prices
             mean
user_id
1        6.367797
2        7.515897
3        8.197727
4        8.205556
5        9.189189
...           ...
206205   8.909375
206206   7.646667
206207   7.313453
206208   8.366617
206209   7.058915

[206209 rows x 1 columns]

In [9]:
#create new column for average prices
df['average_prices'] = df.groupby(['user_id'])['prices'].transform(np.mean)

In [10]:
df.head()

,user_id,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,has_prior_orders,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_prices
0,1,2539329,1,2,8,NaN,False,196,1,0,...,77.0,7.0,9.0,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
1,1,2539329,1,2,8,NaN,False,14084,2,0,...,91.0,16.0,12.5,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
2,1,2539329,1,2,8,NaN,False,12427,3,0,...,23.0,19.0,4.4,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
3,1,2539329,1,2,8,NaN,False,26088,4,0,...,23.0,19.0,4.7,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797
4,1,2539329,1,2,8,NaN,False,26405,5,0,...,54.0,17.0,1.0,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797

In [11]:
df.shape

(32435059, 22)

In [12]:
# create spending_flag
df.loc[df['average_prices'] < 10, 'spending_flag'] = 'Low spender'

In [13]:
df.loc[df['average_prices'] >= 10, 'spending_flag'] = 'High spender'

In [15]:
df.head(100)

,user_id,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,has_prior_orders,product_id,add_to_cart_order,reordered,...,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_prices,spending_flag
0,1,2539329,1,2,8,NaN,False,196,1,0,...,7.0,9.0,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender
1,1,2539329,1,2,8,NaN,False,14084,2,0,...,16.0,12.5,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender
2,1,2539329,1,2,8,NaN,False,12427,3,0,...,19.0,4.4,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender
3,1,2539329,1,2,8,NaN,False,26088,4,0,...,19.0,4.7,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender
4,1,2539329,1,2,8,NaN,False,26405,5,0,...,17.0,1.0,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,738281,4,2,10,8.0,True,21150,13,0,...,1.0,5.9,Mid-range product,Regularly busy,Regularly busy,Most Orders,14,Regular customer,7.515897,Low spender
96,2,1673511,5,3,11,8.0,True,47144,1,0,...,16.0,14.0,Mid-range product,Regularly busy,Least busy days,Most Orders,14,Regular customer,7.515897,Low spender
97,2,1673511,5,3,11,8.0,True,5322,2,0,...,19.0,2.9,Low-range product,Regularly busy,Least busy days,Most Orders,14,Regular customer,7.515897,Low spender
98,2,1673511,5,3,11,8.0,True,17224,3,0,...,19.0,1.6,Low-range product,Regularly busy,Least busy days,Most Orders,14,Regular customer,7.515897,Low spender
99,2,1673511,5,3,11,8.0,True,38656,4,0,...,19.0,3.4,Low-range product,Regularly busy,Least busy days,Most Orders,14,Regular customer,7.515897,Low spender

In [17]:
#creating new column for median of days_since_prior_order
df['median_days_since_prior_order'] = df.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [18]:
df.head()

,user_id,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,has_prior_orders,product_id,add_to_cart_order,reordered,...,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_prices,spending_flag,median_days_since_prior_order
0,1,2539329,1,2,8,NaN,False,196,1,0,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5
1,1,2539329,1,2,8,NaN,False,14084,2,0,...,12.5,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5
2,1,2539329,1,2,8,NaN,False,12427,3,0,...,4.4,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5
3,1,2539329,1,2,8,NaN,False,26088,4,0,...,4.7,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5
4,1,2539329,1,2,8,NaN,False,26405,5,0,...,1.0,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5

In [19]:
#creating frequency flag
df.loc[df['median_days_since_prior_order'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [23]:
df.loc[(df['median_days_since_prior_order'] > 10) & (df['median_days_since_prior_order'] <= 20), 'frequency_flag'] = 'Regular customer'

In [24]:
df.loc[df['median_days_since_prior_order'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [25]:
#check data
df.head(100)

,user_id,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,has_prior_orders,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_prices,spending_flag,median_days_since_prior_order,frequency_flag
0,1,2539329,1,2,8,NaN,False,196,1,0,...,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,1,2539329,1,2,8,NaN,False,14084,2,0,...,Mid-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,1,2539329,1,2,8,NaN,False,12427,3,0,...,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,1,2539329,1,2,8,NaN,False,26088,4,0,...,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,1,2539329,1,2,8,NaN,False,26405,5,0,...,Low-range product,Regularly busy,Regularly busy,Average Orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,738281,4,2,10,8.0,True,21150,13,0,...,Mid-range product,Regularly busy,Regularly busy,Most Orders,14,Regular customer,7.515897,Low spender,13.0,Regular customer
96,2,1673511,5,3,11,8.0,True,47144,1,0,...,Mid-range product,Regularly busy,Least busy days,Most Orders,14,Regular customer,7.515897,Low spender,13.0,Regular customer
97,2,1673511,5,3,11,8.0,True,5322,2,0,...,Low-range product,Regularly busy,Least busy days,Most Orders,14,Regular customer,7.515897,Low spender,13.0,Regular customer
98,2,1673511,5,3,11,8.0,True,17224,3,0,...,Low-range product,Regularly busy,Least busy days,Most Orders,14,Regular customer,7.515897,Low spender,13.0,Regular customer
99,2,1673511,5,3,11,8.0,True,38656,4,0,...,Low-range product,Regularly busy,Least busy days,Most Orders,14,Regular customer,7.515897,Low spender,13.0,Regular customer

In [26]:
#check shape
df.shape

(32435059, 25)

# 04. Exporting Data

In [30]:
# Import ords_prods_merge data
df.to_pickle(r'C:\Users\Brooke\05-2022 Instacart Basket Analysis\Data\Prepared Data\grouped data.pkl')